html,
body {
  background-color: black;
  color: white;
  font-family: "Open Sans", sans-serif;
}
/* font  */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --bg--gradient: linear-gradient(to bottom right, #0cf, #fdfd1e);
}

.introduction {
  width: 70%;
  position: relative;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-around;
}
.textcontent {
  width: 40%;
  position: relative;
  height: auto;
  position: relative;
  margin: 0 auto 0 0;
  padding: 30px 30px 0 0;
  font-weight: 800;
}
.textcontent a {
  color: white;
  font-size: 24px;
}
.aboutme {
  position: relative;
  margin-top: 60px;
  display: flex;
  text-align: left;
  justify-content: space-around;
  flex-direction: column;
  padding-right: 15px;
}
.aboutme .hello {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 30px;
}
.name {
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 70px;
}
.name span {
  background-image: var(--bg--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.describe {
  font-weight: 200;
  font-size: 20px;
  line-height: 30px;
}
.contactme {
  width: 100%;
  hyphens: auto;
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-top: 30px;
}

.btn1 {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--bg--gradient);
  color: white;
  font-weight: 300;
}
.btn2 {
  width: 200px;
  height: 50px;
  background-image: var(--bg--gradient);
  margin-left: 30px;
}
.btn2 a {
  color: black;
  font-size: 20px;
}
.imgcontetn {
  position: relative;
  height: 900px;
  margin-top: 0;
  width: 60%;
}
.imgcontetn img {
  border-radius: 0 0 0 100px;
  height: 85%;
  width: 75%;
  position: absolute;
  z-index: 1;
  left: 0;
  object-fit: cover;
}
.bgcbox {
  width: 50%;
  height: 75%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  background-image: var(--bg--gradient);
  border-radius: 0 100px 0 100px;
}
.about {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  height: 60%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(66, 66, 66);
  text-align: center;
  line-height: 40px;
  padding: 15px 0 30px 0;
}
.kinhnghiem {
  margin-top: 15px;
  font-weight: 600;
}
.kinhnghiem span {
  font-size: 40px;
}
.timeline {
  margin: 0 auto;
  position: relative;
  width: 70%;
  height: auto;
  padding-top: 15px;
  padding-bottom: 30px;
}
.timeline--title {
  position: relative;
  display: inline-block;
  color: white;
  font-weight: 800;
  font-size: 30px;
}
.timeline--title::before {
  content: "";
  width: 50%;
  height: 5px;
  transform: translateY(100%);
  background-image: var(--bg--gradient);
  bottom: 0;
  position: absolute;
  left: 0;
}
.ctn {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}
.left {
  width: 15%;
  height: auto;
  border-right: 2px solid white;
  font-size: 25px;
  font-weight: 700;
  line-height: 70px;
}
.right {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #2b2b2b;
  border-radius: 20px;
  margin: auto 0;
}
.right--ctn {
  width: 100%;
  height: 100%;
  justify-content: space-around;
  flex-direction: row;
  display: none;
  align-items: center;
}
.right--ctn__img {
  width: 40%;
  height: 100%;
}
.year {
  color: rgb(180, 238, 21);
}
.right--ctn__title {
  font-size: 20px;
  font-weight: 700;
  padding: 60px;
  width: 60%;
}
.right--ctn:first-child {
  line-height: 30px;
}
.more {
  font-weight: 300;
  font-size: 16px;
  position: relative;
  margin-top: 35px;
  line-height: 25px;
}
.active {
  display: flex;
}
@media screen and (max-width: 991px) {
  .introduction {
    flex-direction: column;
    width: 80%;
  }
  .imgcontetn,
  .textcontent {
    margin-top: 15px;
    width: 100%;
  }
  .right {
    height: auto;
  }
  .right--ctn {
    flex-direction: column;
  }
  .right--ctn__title,
  .right--ctn__img {
    width: 100%;
  }
  .lop12 {
    flex-direction: row;
  }
  .lop12 img {
    height: 100%;
  }
}
@media screen and (max-width: 575px) {
  .btn1,
  .btn2 {
    width: 150px;
  }
  .imgcontetn {
    height: 600px;
  }
  .imgcontetn img {
    border-radius: 0 0 0 100px;
    height: 70%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    object-fit: cover;
  }

  .about {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    display: flex;
    flex-direction: row;
    background-color: rgb(66, 66, 66);
    text-align: center;
    line-height: 20px;
    padding: 15px 0 15px 0;
  }
  .kinhnghiem {
    margin-top: 15px;
    font-weight: 600;
  }
  .kinhnghiem span {
    font-size: 25px;
  }
}
